@using WebApplication2.Models
@model  Employee


<h3>Edit Employee Deatils</h3>

 
<form  action="/Product/Edit" method="post">
    <label>Employee Id  : </label>
    <input name="Emp_Id" type="text" readonly value="@Model.Emp_Id" />
    <br/><br/>

    <label>Employee Name  : </label>
    <input name="Emp_Name" type="text" value="@Model.Emp_Name" />
    <br/><br/>

     <label>Salary  : </label>
    <input name="Salary" type="text" value="@Model.Salary" />
    <br/><br/>

    <label>Job Profile  : </label>
    <input name="Job" type="text" value="@Model.Job" />
    <br/><br/>

    <input type="submit" value="Edit" />
</form>


@{
    if(ViewBag.RequestType == "POST")
    {
        <h1>@ViewBag.ErrorMessage</h1>
    }
}


<hr/>
 <a href="/Product/Index">Back to List</a>